<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
		<meta charset="UTF-8">
		<title>My Blog</title>
		<style>
body {
	background-color: #dfcdc9;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #dfcdc9;
}

nav h1 {
	font-family: 'ABeeZee';font-size: 22px;
	font-size: 35px;
	margin: 0;
}

nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #333;
	text-decoration: none;
	font-size: 18px;
	transition: all 0.3s ease-in-out;
}

nav a:hover {
	color: #ff5500;
}

.btn-login {
	background-color: #ff5500;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

.btn-login:hover {
	background-color: #fff;
	color: #ff5500;
	border: 1px solid #ff5500;
}

main {
	margin: 20px;
}

article {
	font-family: 'Actor';
	border: 1px solid #5a3136 ;
	padding: 18px;
}

article header {
	margin-bottom: 20px;
}

article h2 {
	margin: 0;
	font-size: 25px;
}

article p {
	margin: 0;
	color: #666;
	font-size: 20px;
}

.search-form {
	display: flex;
	align-items: center;
	justify-content: center;
}
	
.search-form input[type="text"] {
	border: none;
	border-bottom: 2px solid #ccc;
	padding: 10px;
	font-size: 16px;
	margin-right: 10px;
	width: 300px;
	border-radius: 20px;
	transition: border-bottom-color 0.3s ease-in-out;
}

.search-form input[type="text"]:focus {
	outline: none;
	border-bottom-color:  #322224 ;
}

.search-button {
	background-color:  #3d2d2f ;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 20px;
}

.search-button:hover {
	background-color:  #201819 ;
}

		</style>
	</head>
	<body>
		<nav>
			<h1>UEA Students' Blog</h1>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="/users/login" class="btn-login">Login</a></li>
			</ul>
		</nav>
		<center>
			<form class="search-form" id="search-form">
				<input type="text" name="query" placeholder="Search by People's Name" id="search-input" pattern="^[^<>&]*(?:(?<!-)\/(?!script\b)|(?<!\w)script\b|<|>|\b(?:on\w+|javascript):)*$">
				<button type="submit" class="search-button">Search</button>
			</form>
		</center>
		<div id="data">
			<main>
				<% for (var i = 0; i < form.length; i++) { %>
				<br>
				<article>
					<header>
						<h2><%= form[i].title %></h2>
						<p>Posted by <%= form[i].name %> on <%= form[i].short_date %> at <%= form[i].short_time %></p>
					</header>
					<p><%= form[i].description %></p>
				</article>
				<% } %>
			</main>
		</div>
	</body>
	<script>
		const form = document.getElementById('search-form');
		const input = document.getElementById('search-input');
		const results = document.getElementById('data');
		form.addEventListener('submit', async (event) => {
			event.preventDefault();
			const query = input.value;
			const response = await fetch(`/search?query=${query}`);
			if (response.ok) {
				const data = await response.json();
				const markup = data.map((result) => `<main>
					<article>
					<header>
					<h2>${result.title}<h2>
					<p>Posted by ${result.name} on ${result.time}</p>
					</header>
					<p>${result.description}</p>
					</article>
					</mail>`).join('');
				results.innerHTML = markup;
			} else {
				console.error(`Request failed with status ${response.status}`);
			}
		});
	</script>
</html>
